.panel{
	float: none;
	margin: 0 auto;
	padding: 0;
}
.msg-destaque{
	float:none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right:20px;
	border-radius: 10px;
}
footer{
	background: #ccc;
	margin-top: 20px;
}
td.finalizado{
	text-align: center;
}
.glyphicon-ok-sign{
	color: #008000;
}
.glyphicon-remove-sign{
	color: #f00;
}